* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 5.5rem;
  padding-left: .8rem;
  padding-right: .8rem;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: Cambria, Georgia, serif;
  font-family: var(--type-first);
}

h1, h2, h3, h4, p {
  margin: 0px;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: .6rem 0; 
  position: relative;
}
.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #7bb3e5;
  position: absolute;
  bottom: -3px;
  left: -7px;
  z-index: -1;
  border-radius: 2px;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.animaLeft {
  opacity: 0;
  transform: translate3d(-20px);
  animation: animaLeft 0.3s forwards;
}

@keyframes animaLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}