body {
  margin: 1rem 2rem 2rem 2rem;
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.4rem;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.content {
  flex: 1;
}

.animaLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animaLeft 0.3s forwards;
}
@keyframes animaLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

.carregando {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-right-color: transparent;
  animation: carregando 1s infinite;
}
@keyframes carregando {
  to {
    transform: rotate(360deg);
  }
}