.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.nav a,
.nav button {
  background: #eee;
  border-radius: .2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 1s;
  cursor: pointer;
}
.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
  background: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}
.nav a:global(.active) {
  background: white;
  box-shadow: 0 0 0 3px rgb(201, 234, 255);
  border-color: #75cfff;
}
.nav a:global(.active) svg > * {
  fill: #46beff;
}

.mobileButton {
  background: #eee;
  border-radius: .2rem;
  height: 40px;
  width: 40px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 1s;
  cursor: pointer;
}
.mobileButton:after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.2s;
}
.mobileButton:hover,
.mobileButton:focus,
.mobileButtonActive {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px rgb(201, 234, 255);
  border-color: #75cfff;
  color: #46beff
}

.mobileButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.navMobile {
  display: block;
  position: absolute;
  top: 70px;
  right: 0px;
  padding: 0 1rem;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: .2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
  /* ^ assim a pessoa n consegue clicar no menu com ele escondido */
}
.navMobile a,
.navMobile button {
  display: flex;
  align-items: center;
  background: none;
  gap: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: .5rem 0;
  cursor: pointer;
}
.navMobile a:hover svg > *,
.navMobile button:hover svg > * {
  fill: #2778a4;
}
.navMobile a:hover,
.navMobile button:hover {
  color: #2778a4;
}
.navMobile button {
  border-bottom: none;
}

.navMobileActive {
  transition: .3s;
  transform: initial;
  opacity: 1;
  z-index: 100;
  pointer-events: initial;
}