.form {
  margin-bottom: .1rem;
}

.esqueceu {
  display: inline-block;
  color: #666;
  padding: .5rem 0;
  line-height: 1;
}
.esqueceu::after {
  content: '';
  width: 100%;
  height: 1.2px;
  background: currentColor;
  display: block;
}

.cadastro {
  margin-top: 5rem;
}
.cadastro p {
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
  display: inline-block;
}
.subtitle::after {
  content: '';
  display: block;
  background-color: #ddd;
  height: .5rem;
  width: 100%;
  border-radius: .2rem;
  z-index: -1;
  margin-top: -7px;
}