.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

.nome {
  margin: 0.5rem 0;
}

.img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}