.produto {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  margin: 0 auto;
  align-items: start;
  font-family: Arial, Helvetica, sans-serif;
}
.produto.duasFotos {
  grid-template-columns: 1fr 4fr 2fr 1fr;
}

.fotos {
  grid-column: 2;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  margin-right: 1.4rem;
  justify-content: right;
}
.umaFoto img {
  max-width: 60%;
  height: auto;
  object-fit: cover;
}
.duasFotos img {
  max-width: 45%;
  height: auto;
  object-fit: cover;
}

.info {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.info h1 {
  font-size: 1.8rem;
  margin: 1rem 0 1rem 0;
}

.preco {
  font-size: 1.5rem;
  padding: 0.5rem;
  display: inline-block;
  width: fit-content;
  background-color: #ffd7e7;
  color: #813f59;
  border-radius: 4px;
  font-weight: bold;
}

.descricao {
  line-height: 1.6;
  margin-top: auto;
}