.pai {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid #eee;
  background: #f1f1f1;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  transition: 0.1s;
}
.input:hover,
.input:focus {
  border-color: rgb(170, 215, 255);
  background: white;
  box-shadow: 0 0 0 3px rgba(170, 215, 255, 0.4);
  outline: none;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.4rem;
}

.erro {
  color: rgb(51, 160, 255);
  font-size: 1rem;
  margin-top: 0.2rem;
}